/* bounce  animation */

/*
.bounce
.swing
.squash
.floating
.drift
.shake
*/


#bounce, #bounce-preview, .bounce-li {
    -webkit-animation: bounce 0.4s infinite alternate;
    font-size: 2em;
    font-family: 'Work Sans', sans-serif;
    display: none;
    overflow: hidden;
    animation-fill-mode: backwards;
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(-20px);
        letter-spacing: -0.012em;
    }
}

/* swing  animation */

#swing, #swing-preview, .swing-li {
  display: inline-block;
  -webkit-transform-origin: top center;
  -webkit-animation-name: swing;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  font-size: 2em;
  font-family: 'Work Sans', sans-serif;
  display: none;
  overflow: hidden;
  animation-fill-mode: backwards;
}

@keyframes swing {
    0% {
        transform: rotate3d(0, 0, 1, 15deg);
    }
    50% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
    to {
        transform: rotate3d(0, 0, 1, 15deg);
    }
}


/* squash  animation */

#squash, #squash-preview, .squash-li {
    -webkit-animation-name: squash;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-perspective: 500;
    -webkit-transform-style: preserve-3d;
    -webkit-transition-property: transform;
    -webkit-transition-duration: 0.5s;
    font-size: 2em;
    font-family: 'Work Sans', sans-serif;
    display: none;
    overflow: hidden;
    animation-fill-mode: backwards;
}

@-webkit-keyframes squash {
    0% {
        -webkit-transform: rotateX(60deg);
        -webkit-perspective: 5000;
    }
}


/* floating  animation */

#floating, #floating-preview, .floating-li {
    display: inline-block;
    -webkit-animation-name: floating;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    font-size: 2em;
    display: none;
    overflow: hidden;
    animation-fill-mode: backwards;
}

#drift, #drift-preview, .drift-li {
    display: inline-block;
    -webkit-animation-name: drift;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    font-size: 2em;
    font-family: 'Work Sans', sans-serif;
    display: none;
    overflow: hidden;
    animation-fill-mode: backwards;
}

@-webkit-keyframes floating {
  from {
    -webkit-transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(-10px, 10px);
  }
  75% {
    -webkit-transform: translate(10px, -10px);
  }
  to {
    -webkit-transform: translate(0, 0px);
  }
}

#shake, #shake-preview, .shake-li {
    -webkit-animation-name: shake;
    animation-duration: 0.8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-fill-mode: both;
    font-size: 2em;
    font-family: 'Work Sans', sans-serif;
    display: none;
    overflow: hidden;
    animation-fill-mode: backwards;
}

#shake, #bounce, #floating, #squash, #swing {
  margin-top: 5%;
}

@-webkit-keyframes shake {
    from, to {
        -webkit-transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
    }
}
