* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.divider {
	color: white;
}

html,section{
	height: 100%;
}
body {
	height: 100%;
  	font-family: 'Work Sans', sans-serif;
  	font-size: 1em;
  	line-height: 150%;
		background-color: #eee;
}

p {
	text-align: center;
}

.status {
	color: white;
	margin-top: -40px;
}

/* login section */
.login-page {
	display: block;
  width: 100%;
  padding: 30px;
	margin-top: 200px;
  text-align: center;
}

.login-info {
	padding: 30px;
}

	input {
	border: 2px solid gray;
  border-radius: 5px;
	padding: 10px;
	width: 25%;
	margin-right: .5%;
	font-size: 2em;
}

.login-info button {
	width: 9%;
	background: #2aa1c0;
	border: none;
	border-radius: 5px;
	padding: 16px;
	font-size: 2em;
	font-weight: bold;
	font-family: 'Work Sans', sans-serif;
	color: white;
}

.glyphicon-ok-sign {
	padding-left: .3em;
	color: #2aa1c0;
}

#effect-btn {
	background: #2aa1c0;
	border: none;
	border-radius: 5px;
	padding: 16px;
	font-size: 2em;
	font-weight: bold;
	font-family: 'Work Sans', sans-serif;
	color: white;
	margin-top: 1em;
}

.login-info button:hover {background-color: #0e647d;}

.login-info button:focus, .active {background-color: #2aa1c0;}

/* main section */
.container {
	display: none;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #afc5ca;
    width: 45px;
}

/* chat display area */
.chatpage {
  background-color: #fff;
  -webkit-flex: 1;
  position:relative;
}

#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position:absolute;
	width:100%;
	bottom:0px;
	overflow-y: hidden;
	max-height: 100%;
	margin-bottom: 75px;
	overflow: hidden;
}

#messages li {
	padding: 10px 20px 10px 20px;
	text-align: left;
	font-size: 2em;
	margin-top: 2em;
	width: 110%;
}

/*#messages li:hover{
	background: #d9d9d9;
}*/

form {
	background: #f0f0f0;
	padding: 10px;
	bottom: 0;
	height: 10%;
	border-top: 1px solid #ccc;
	position: absolute;
	width: 100%;
}

form input {
	border: 2px solid gray;
  border-radius: 5px;
	padding: 10px;
	width: 90%;
	margin-right: .5%;
}

form button {
	width: 9%;
	background: #2aa1c0;
	border: none;
	border-radius: 5px;
	padding: 10px;
	font-size: 2em;
	font-weight: bold;
	font-family: 'Work Sans', sans-serif;
	color: white;
}

form button:hover {background-color: #0e647d;}

form button:focus, .active {background-color: #2aa1c0;}

/* kinetic typography display area */
.kineticpage {
    display: none;
    color: #333;
    background-color: #eee;
  	-webkit-flex: 1;
  	padding: 3rem;

  	-webkit-flex-direction: column;
  	-webkit-justify-content: center;
}

.text-animations {
	border: .5px solid #D8D8D8;
	background-color: white;
	margin-top: 1em;
	margin-bottom: 2em;
	height: 200px;
	width: 100%;
	word-wrap: break-word;
	overflow-y: scroll;
	line-height: 250%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.text-animations-preview {
	background-color: white;
	margin-top: 30px;
	margin-bottom: 30px;
	height: 200px;
	width: 100%;
	word-wrap: break-word;
	overflow-y: scroll;
	line-height: 250%;
}

.selected-effect-border {
	border: 1px solid rgb(86, 180, 239);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
}

#swing-preview, #squash-preview, #bounce-preview, #floating-preview, #shakes-preview {
	padding: 1em;
}
.static-animations {
	margin: 20px 20px 0 20px;
}

.mid-animations {
	margin: 50px 20px 0 20px;
}

.up-animations {
	clear: both;
	margin: 100px 20px 0 20px;
}

/* expressive biofeedback */
#data {
	display: -webkit-flex;
	-webkit-flex-direction: row;
}

#mycanvas {
	margin-bottom: 10%;
	border: 1px solid gray;
	background-color: #eee;
}

#data-inner {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	margin-left: 20px;
}

.data_labels {
	font-size: 1.5em;
}

#current_label {
	border: rgb(255, 0, 255) solid 2px;
	padding: .5em;
	margin-top: 1em;
	float: left;
	margin-right: 1em;
}

#baseline_label {
	border: rgb(91,192,222) solid 2px;
	padding: .5em;
	margin-top: 1em;
	float: left;
	margin-right: 1em;
}

#range_label, #baseline_status {
	background-color: rgb(91,91,91);
	color: white;
	padding: .5em;
	margin-bottom: 1em;
	margin-top: 1em;
	text-align: center;
	width: 25%;
	margin-right: 1em;
	font-size: 1.5em;
	float: left;
}

#sharing {
	display: -webkit-flex;
	-webkit-flex-direction: row;
	padding: 10px;
	word-wrap: break-word;
	font-size: 2em;
	width: 220px;
	margin-top: 1em;
}

#share-data {
	margin-right: 10px;
	margin-top: 0;
	margin-left: .2em;
}

/* sharing checkbox */

/*
.control {
	font-size: 18px;
	position: relative;
	display: block;

	padding-left: 30px;
	cursor: pointer;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
	background: #e6e6e6;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background: #ccc;
}

.control input:checked ~ .control__indicator {
	background: #2aa1c0;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
	background: #0e647d;
}

.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

.control input:checked ~ .control__indicator:after {
	display: block;
}

.control--checkbox .control__indicator:after {
	top: 4px;
	left: 8px;
	width: 3px;
	height: 8px;
	transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 2px 2px 0;
}
 */
